doctype html
html(lang="ru")
  head
    title
      | typograph app
    meta(charset="utf-8")
    link(rel="stylesheet", href="/test/test.min.css?appVersionControlFlag")
  body
    include ./test.pug
    script(src="/test/test.min.js?appVersionControlFlag")